version: '3'

# 3 instances of the same service
services:
  bun-chat-1:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - CORS_ORIGIN=${CORS_ORIGIN}
      - API_KEY=${API_KEY}
      - REDIS_REST_URL=${REDIS_REST_URL}
  bun-chat-2:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - CORS_ORIGIN=${CORS_ORIGIN}
      - API_KEY=${API_KEY}
      - REDIS_REST_URL=${REDIS_REST_URL}
  bun-chat-3:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    environment:
      - PORT=5001
      - CORS_ORIGIN=${CORS_ORIGIN}
      - API_KEY=${API_KEY}
      - REDIS_REST_URL=${REDIS_REST_URL}
# Start load balancer
  caddy:
    image: caddy/caddy:2.7.3-alpine
    container_name: caddy-server
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - $PWD/Caddyfile:/etc/caddy/Caddyfile
      - $PWD/site:/serv
      - caddy_data:/data
      - caddy_config:/config
# Volumes for caddy
volumes:
  caddy_data:
  caddy_config:

